*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Balsamiq Sans', cursive;
    font-size: 14px;
    color: #2B333F;
    background-color: #f2f2f2;
    line-height: 1.5;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    max-height: 300px;
}
.header,.main,footer{
    float: left;
    width: 100%;
}
.header{
    background-color: white;
}
.container{
    width: 890px;
    margin: 0 auto;
}
.header-left,.header-between,.header-right{
    width: 33.33333%;
    float: left;
    height: 60px;
}
.header-right{
    float: right;
    font-size: 15px;
    color: #2B333F;
    line-height: 30px;
    padding: 20px 0px;
    box-sizing: border-box;
}
.header-right1{
    width: 150px;
    background-color: #9E9E9E;
}
.header-right2{
    width: 60px;
    background-color: white;
}
.header-right3{
    width: 60px;
    background-color: aquamarine;
}
.menu li{
    float: left;
    padding: 20px;
}
.menu li a{
    font-size: 15px;
    color: #2B333F;
    line-height: 30px;
    text-transform: uppercase;
}
.menu2 li{
    list-style: none;
}


.header-right span{
    height: 23px;
    border-radius: 10px;
    float: right;
    padding-left: 5px;
}
.content{
    width: 100%;
    font-size: 50px;
    text-align: center;
    background-color: aquamarine;
    border: 0.5px solid #f2f2f2;
}

.content1 span{
    float: left;
    width: 33.333%;
    height: 30px;
    font-size: 15px;
    border: 0.5px solid #f2f2f2;
    background-color: aquamarine;
    text-align: center;
    box-sizing: border-box;
}


.content2 span{
    margin: 30px 35px;
    width: 25%;
    box-sizing: border-box;
    background-color: #f2f2f2;
    height: 300px;
    float: left;

}

