*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    color:#333333;
    background-color: #f2f2f2;
    font-weight: 400;
    line-height: 1.5;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
.header,.main,.footer{
    float:left;
    width: 100%;
}
.container{
    width: 890px;
    margin: 0 auto;
}
.header-left{
    float:left;
    width: 20%;
}
.header-right{
    float:right;
    width: 60%;
}
.content{
    float:left;
    width: 66.5%;
    background-color: white;
    margin: 15px 0px;
}
.sidebar{
    float: right;
    width: 30%;
    background-color: white;
    margin: 15px 0px;
    padding: 20px 25px;

}
.header{
    padding: 20px 0;
    background-color: #ffffff;
}
.logo{
    font-size: 30px;
    font-weight: 700;
    color: #333131;
}
.menu li{
    float:right;
    margin-left: 35px;
    padding: 10px 0;
}
.menu2 li a{
    font-size: 13px;
    text-transform: uppercase;
    /* uppercase lowercase capitalize none*/
    color:#333131;
    font-weight: 500;
    line-height: 30px;
    padding-left: 20px;

}

}
 .menu2 li a: last-child {
    list-style: none;
}
.menu li a{
    float:left;
    font-size: 16px;
    text-transform: uppercase;
    /* uppercase lowercase capitalize none*/
    color:#333131;
    font-weight: 600;
}
.div1{
    font-size: 10px;
    line-height: 50px;
}
.div2 a{
    font-size: 16px;
    background-color: #ff9000;
    color: white;
    line-height: 50px;
}
.pirnt{
    background-color: #DC392690;
    color: whitesmoke;
}
.pirnt1{
    background-color: white;

}
.pirnt2{
    background-color: white;

}
.pirnt3{
    height: 250px;
    background-color: white;
    line-height: 35px;
}
.pirnt4{
    height: 330px;
    background-color: white;
    line-height: 30px;
}


.h5{
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
}

.menu li:last-child{
    list-style: none;}
.menu2 li{
    list-style: none;}