*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: white;
    width: 1300px;
    margin: auto;
    font-family: 'Nunito Sans', sans-serif;
}
.all-body{
    border-right: 1px solid red;
    background: whitesmoke;
    width: 90%;
    height: auto;
    margin-top: 0;

}
.header-huy{
    height: 50px;
    width: 100%;
    margin-top: 30px;
    background-color: white;
    line-height: 50px;
}
.logo-huy{
    float: left;
    width: 30px;
}
img{
    text-align: center;

}
ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    font-size: 15px;
}
li{
    display: inline;
    padding: 30px;
}
ul.menu{
    float: right;

}
.main-left{
    width: 40%;
    height: auto;
    float: left;
}
.main-right{
    width: 60%;

    background-color: whitesmoke;
    float: right;
}
form{
    margin: 30px;
}
input{
    margin: 10px;
    border: none;
}
button{
    border: none;
}
